cartridges/**/cartridge/static/**
cartridges/app_storefront_base
cartridges/bc_csc_actions
cartridges/bc_integrationframework
cartridges/bc_library
cartridges/bc_csc_customization
cartridges/bm_customfeeds
cartridges/int_customfeeds
cartridges/int_handlerframework
cartridges/int_marketing_cloud
cartridges/int_service_cloud
cartridges/lib_productlist
cartridges/plugin_wishlists
cartridges/plugin_applepay
cartridges/plugin_service_cloud
cartridges/plugin_themes
cartridges/plugin_cartridge_merge
cartridges/modules/synchronous-promise.js
coverage/
doc/
bin/
build
webpack.config.js
test/functional/webdriver/
codecept.conf.js
cartridges/bm_app_storefront_base/cartridge/static/
tools/**