node_modules/
cartridges/*/cartridge/static/*/css
cartridges/*/cartridge/static/*/js
!cartridges/app_storefront_base/cartridge/static/**
!cartridges/bm_app_storefront_base/cartridge/static/**
!cartridges/plugin_applepay/cartridge/static/**
!cartridges/plugin_cartridge_merge/cartridge/static/**
!cartridges/plugin_wishlists/cartridge/static/**
!cartridges/plugin_sitemap/cartridge/static/**
!cartridges/int_gtm/cartridge/static/**
!cartridges/*/cartridge/static/*/experience
build/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
*.code-workspace
*.zip
!custom-error/*